.project-tac {
  background-color: #1c2833;
  color: white;
}
.link-btn {
  color: black;
  text-decoration: none;
  background-color: rgb(40, 238, 245);
  font-weight: 700;
}
.link-btn:hover {
  color: black;
}

.card-body {
  background-color: rgb(231, 237, 245);
}
.Details-link {
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: large;
}
.Details-link:hover {
  color: white;
  font-size: large;
}
.container {
  border-radius: 10px;
}
/* .link-btn{
display: flex;
  justify-items: start;
} */
