.text-container{
border-left: 2px solid grey;
}
.text{
    text-align: justify;
}
.project-detail{
    font-size: large;
    text-align: justify;
    padding: 10px;
}
.project-tacno{
   text-align: left;
  
}
.technology{
    text-align: left;
    font-size: larger;
   
}